extends layout

block content
    h1 #{fetchedEvent.name}
    h4 Giftee:
    p1 #{fetchedEvent.giftee}
    h4 Date:
    p1 #{fetchedEvent.date}
    h4 Guests:
    each guest in fetchedEvent.guestList
        if (fetchedEvent.guestList.length > 1)
            if !(guest == fetchedEvent.guestList[fetchedEvent.guestList.length-1])
                p1 #{guest.name+', '}
            else
                p1 #{guest.name}
        else
            p1 #{guest.name}
    h4 Gifts:
    each pair in fetchedEvent.giftList
        if (fetchedEvent.giftList.length > 1)
            if !(pair == fetchedEvent.giftList[fetchedEvent.giftList.length-1])
                p1 #{pair.gift.name+' ('+pair.submittedby.name+'), '}
            else
                p1 #{pair.gift.name+' ('+pair.submittedby.name+')'}
        else
            p1 #{pair.gift.name+' ('+pair.submittedby.name+')'}
    h4 How many gifts:
    p1 #{fetchedEvent.giftList.length} 
    script.
         console.log('To invite a guest to this event post their ID. Ex.: axios.post(\'/event/1/guests\', {guest: 3})')
         console.log('To add a gift to this event post their ID, alongside your ID. Ex.: axios.post(\'/event/1/guests\', {user: 3, gift: 2})')


