extends layout

block content
    h1 #{fetchedUser.name}
    script.
        console.log('try to add a user as a friend, like this: axios.post(\'/user/1/friends\', {friend:\'2\'})')
        console.log('To remove a friend, use their ID: axios.delete(\'/user/1/friends/2\', {})')
        console.log('To save a gift idea without a specific recipient in mind, use its ID:')
        console.log('Example: axios.post(\'/user/1/gifts\', {gift:\'2\'})')
        console.log('To discard a gift idea use its ID: axios.delete(\'/user/1/gifts/2\', {})')


        
    h4 ID: #{fetchedUser.id}
    h4 Friends new way:
    p1 #{fetchedUser.socialCircle.map(x => x.name).join(', ')}
    h4 Saved Gift Ideas:
    p1 #{fetchedUser.unassignedGiftIdeas.map(x => x.name).join(', ')}
    h4 Planned Gift Ideas:
    p1 #{fetchedUser.assignedGiftIdeas.map(x => `${x.friend.name} (${x.gift.name})`).join(', ')}
    h4 Upcoming events:
    - var id = fetchedUser.id
    - var calendarURL = '/user/'+id+'/calendar'
    p1 For the moment you will have to check #[a(href=calendarURL) here]

